body {
	text-align: center;
	font: normal medium/1.4 sans-serif;
	background-color: #eaf2f0;
}

table {
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
	padding: 0.5rem;
	text-align: center;
}

tbody td {
	background: white;
}

thead tr:nth-child(odd) {
	color: #eaf2f0;
	background: #007d8a;
}

thead tr:nth-child(even) {
	color: #373a36;
	background: #b8c0c1;
}

button {
	background-color: #007d8a; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}
