{% extends "base.html" %}

{% block content %}
    <h1>SnaFoo</h1>
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Votes Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Michelle Blanchard</b></td>
                <td><b>{{ votesRemaining }}</b></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <thead>
            <tr>
                <th>Snacks Always Purchased</th>
            </tr>
        </thead>
        <tbody>
            {% for snack in alwaysPurchasedSnacks %}
                <tr>
                    <td>{{ snack.name|capfirst }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table>
        <thead>
            <tr>
                <th colspan="4">Suggested Snacks</th>
            </tr>
            <tr>
                <th>Name</th>
                <th># of Votes</th>
                <th>Last Purchased</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
	        <form action="{% url 'vote' %}" method="post">
	        {% csrf_token %}
            {% for snack in suggestedSnacks %}
                <tr>
                    <td>{{ snack.name|capfirst }}</td>
		            <td>{{ snack.votes }}</td>
		            <td>{{ snack.lastPurchaseDate }}</td>
		            <td><button name="snack" type="submit" value="{{ snack.id }}">VOTE</button></td>
		        </tr>
		    {% endfor %}
		    </form>
	    </tbody>
    </table>

    <br>
    <a href="{% url 'suggestions' %}">Suggest A Snack!</a>

{% endblock %}