{% extends "base.html" %}

{% block content %}
	<h1>Suggest A Snack!</h1>
	<br>
	{% if messages %}
		{% for message in messages %}
		<p><font color='red'>{{ message|linebreaks }}</font></p>
		{% endfor %}
	{% endif %}
	{% if suggestions_remaining == 1 %}
	    You have <b>{{ suggestions_remaining }}</b> suggestion remaining this month.
	{% else %}
		You have <b>{{ suggestions_remaining }}</b> suggestions remaining this month.
	{% endif %}
	<br>
	{% if choiceCount > 0 %}

	<br>
	<table>
	    <thead>
	    	<tr>
	    		<th>Suggest an optional snack</th>
	        </tr>
	        <tr>
	            <th>
	    
				<form action="" method="POST">
				    {{ dropdown_selection_form.as_p }}
				    {% csrf_token %}
				    <input type="submit" value="Suggest" name="dropdown_suggestion" class="button">
				</form>
				</th>
			</tr>
	    </thead>
	</table>

	<br>
	<p>or</p>
	{% else %}
	<p><font color='blue'>All optional snacks this month have been suggested.<br>Please suggest a new snack!</p></font></p>
	{% endif %}

	<table>
	    <thead>
	    	<tr>
	    		<th>Suggest a new snack</th>
	        </tr>
	        <tr>
	            <th>

			<form action="" method="POST">
			    {{ form.as_p }}
			    {% csrf_token %}
			    <input type="submit" value="Suggest" name="form_suggestion" class="button">
			</form>
			    
			</th>
			</tr>
	    </thead>
	</table>

	<br>

	<a href="{% url 'index' %}">Home</a>

{% endblock %}