{% extends "base.html" %}

{% block content %}
<h1>Suggest A Snack!</h1>
<br>
{% if messages %}
	{% for message in messages %}
	<p><pre><font color='red'>{{ message|linebreaks}}</font></pre></p>
	{% endfor %}
{% endif %}
You have <b>{{ suggestionsRemaining }}</b> suggestions remaining this month




<br>

<form action="" method="POST">
    {{ dropdownSelectionForm.as_p }}
    {% csrf_token %}
    <input type="submit" value="Suggest" class="button">
</form>

<br>

<form action="" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Suggest" class="button">
</form>

<br>

<a href="{% url 'index' %}">Home</a>

{% endblock %}