{% extends "base.html" %}

{% block content %}
<h1>Suggest A Snack!</h1>
<br>
{% if messages %}
	{% for message in messages %}
	<p><pre><font color='red'>{{ message|linebreaks}}</font></pre></p>
	{% endfor %}
{% endif %}
You have <b>{{ suggestionsRemaining }}</b> suggestions remaining this month


<br>


    <table>
        <thead>
        	<tr>
        		<th>Suggest an optional snack</th>
            </tr>
            <tr>
                <th>
        
				<form action="" method="POST">
				    {{ dropdownSelectionForm.as_p }}
				    {% csrf_token %}
				    <input type="submit" value="Suggest" name="dropDownSuggestion" class="button">
				</form>
				</th>
			</tr>
        </thead>
	</table>

		<br></ br>
		<p>or</p>

	<table>
        <thead>
        	<tr>
        		<th>Suggest a new snack</th>
            </tr>
            <tr>
                <th>

			<form action="" method="POST">
			    {{ form.as_p }}
			    {% csrf_token %}
			    <input type="submit" value="Suggest" name="formSuggestion" class="button">
			</form>
			    
			</th>
			</tr>
        </thead>
	</table>

</br>

<a href="{% url 'index' %}">Home</a>

{% endblock %}